.container {
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos{
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: #58959d;
}

.todos_heading {
    font-size: 30px;
    color: white;
}

.remove {
    background-color: #cc8b86;
}